.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  flex-basis: 80%;
}

.search-container {
  width: 50%;
  display: inline-flex;
  gap: 1rem;
  margin: 1rem 0 0 1rem;
  flex-flow: row wrap;
  align-items: center;
}

label {
  flex-basis: 10%;
}

button {
  padding: 10px 20px;
  background-color: grey;
  border: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba(grey, 0.4);
  }
}

.top-bar {
  margin-left: 1rem;
}
